* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.box {
    display: flex;
    width: 500px;
    height: 250px;
    background-color: aliceblue;
}

.colors {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.colors button {
    margin-left: 5px;
}
